<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title th:text="#{addProject}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/theme.js}"> </script>

</head>
<div th:insert="~{header :: site-header}"></div>
<body class="bg-light">
<div class="container">
    <form th:action="@{/projects/add}" method="post" th:object="${project}">
        <div class="form-group">
            <label for="name" th:text="#{name}"></label>
            <input type="text" id="name" name="name" th:value="${project?.name}" required>
        </div>
        <div class="form-group">
            <label for="description" th:text="#{description}"></label>
            <input type="text" id="description" name="description" th:value="${project?.description}" required>
        </div>
        <div class="form-group">
            <label for="dateStarted" th:text="#{dateStarted}"></label>
            <input type="date" id="dateStarted" name="dateStarted" th:value="${project?.dateStarted}" required>
        </div>
        <div class="form-group">
            <label for="dateEnded" th:text="#{dateEnded}"></label>
            <input type="date" id="dateEnded" name="dateEnded" th:value="${project?.dateEnded}" required>
        </div>
        <div class="form-group">
            <label for="priority" th:text="#{priority}"></label>
            <select id="priority" th:field="*{priority}"  class="form-control" required>
                <option value="Low" th:text="#{low}"></option>
                <option value="Medium" th:text="#{medium}"></option>
                <option value="High" th:text="#{high}"></option>
            </select>
        </div>
        <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="error"></p>
        <button type="submit" th:text="#{addProject}"></button>
    </form>
    <a th:href="@{/}" class="btn btn-secondary mt-3" th:text="#{backToProjectList}"></a>
</div>
</body>
</html>