<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container">
    <h2 class="text-center mt-4">Welcome to Project Management</h2>

    <div class="d-flex justify-content-center">
        <a th:href="@{/projects/add}" class="btn btn-primary mt-3 mr-2">Add a New Project</a>
        <a th:href="@{/projects}" class="btn btn-secondary mt-3">View Projects</a>
    </div>
</div>

<form th:action="@{/logout}" method="post" th:hidden="true" id="logoutForm">
    <input type="submit" value="Logout" hidden />
</form>
<a href="javascript: document.getElementById('logoutForm').submit()">Logout</a>
</body>
</html>
